@mixin line($height,$line-height,$fontsize:vw(12)) {
  height:$height;
  line-height:$line-height;
  font-size: $fontsize;
}
@function vw($px) {
  @return ($px / 375) * 100vw;
};
<<<<<<< HEAD



=======
>>>>>>> 5c238d8372868820917fb18d9a4c601617d4c4f6
